
<div class ="text-center">
    <h1 class="text-info">Inquiry Confirmation</h1>
    <p class="">We have received your mail and someone from our team will attend to you shortly!</p>
    <img src="/Images/Product/patio.jpg" />
</div>
