@model Product
@{
    var title = "Create product";
}

<form method = "post" asp-action="UpSert">
    @if(Model.Id != 0)
    {
        title = "Edit Product";
        <input asp-for ="Id" class = "hidden"/>
    }
    
    <div class ="border p-3">
        

        <div class = "form-group row">
            <h2 class = "text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                       <label asp-for =" Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for = "Name" class = "form-control"/>
                        <span asp-validation-for = "Name" class = "text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                       <label asp-for = " Price"></label>
                    </div>
                    <div class="col-8">
                       <input asp-for = "Price" class = "form-control"/>
                       <span asp-validation-for = "Price" class = "text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                       <label asp-for = " Description"></label>
                    </div>
                    <div class="col-8">
                       <input asp-for = "Description" class = "form-control"/>
                       <span asp-validation-for = "Description" class = "text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                      Image
                    </div>
                    <div class="col-8">
                       <input type = "file" name = "files" multiple asp-for = "Image" class = "form-control"/>
                    </div>
                </div>

                 <div class="form-group row">
                    <div class="col-4">
                       <label asp-for = " CategoryId"></label>
                    </div>
                    <div class="col-8">
                      <select asp-for ="CategoryId" asp-items = "@ViewBag.CategoryDropDown" class = "form-control"/>
                      <option selected>---Select Category---</option>
                       <span asp-validation-for = "CategoryId" class = "text-danger"></span>
                    </div>

                </div>

                
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if(Model.Id != 0)
                            {
                                //Edit
                                <input type = "submit" class =" btn btn-info w-50"  value = "Update" />
                            }
                            else
                            {
                                //Create
                                <input type = "submit" onclick ="return validationInput()" class =" btn btn-success w-50" value = "Create" />
                               
                            } 
                            
                        </div>
                        <div class="col offset-4">
                           
                          <a asp-action = "Index" class = "btn btn-primary w-50 "> <i class="fas fa-sign-out-alt"></i>Back</a>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@section scripts{
    @{<partial name = "_ValidationScriptsPartial" />}
    }

